
  body{
    background-color:#f4f9f4;


  }
  hr{
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
  h1{
    color: #0ea5c6;
  }
  h3{
    color: #7d7d7d;
  }
